.App {
  text-align: center;
}

.App-header {
  background-color: #3b4349;
  display: flex;
  height: 35px;
  padding-left: 10px;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 20px;
  color: white;
}

.Game {
  background-color: #cad8e2;
  display: flex;
  height: 100vh;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Game > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.GridContainer{
  flex-grow: 2;
  background-color: #2376b1;
}

.SetsContainer {
  flex-grow: 1;
  background-color: #1c425d;
}

.CardGrid{}

.FoundSets img {
  height: 40px;
  width: 63px;
}

.FoundSets .Card {
  padding: 4px;
  margin: 2px;
  border-radius: 10px;
  width: 70px;
}

.FoundSet {
  display: flex;
  flex-direction: row;
}

.CardGrid div {
  display: flex;
  flex-direction: row;
}

.Card {
  border: 2px solid #bcbcc8;
  background-color: #c7d5e0;
  padding: 10px;
  margin: 5px;
  border-radius: 20px;
  font-size: 12px;
}

.selected{
  border: 2px solid #c32cb8;
  background-color: #a4bbcd;
}
